.title {
    border: 1px solid transparent !important;
    background: linear-gradient(90deg, #F8EDF9, #ECF8FD) padding-box, linear-gradient(90deg, #E043B4 0%, #7C52DF 25%, #5A57F4 50%, #495AF8 75%, #3CFFE2 100%) border-box !important;
}
.w-webflow-badge {
    display: none !important;
}
.is-active-accordion .line-fill {
  animation: faq-line 2s linear forwards;
}

.left-line-fill {
  transition: height 0.25s linear;
}

@keyframes faq-line {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.card-hover:hover {
border: 1px solid transparent !important;
 background: linear-gradient(70deg, #F2F4F7, #F2F4F7) padding-box, linear-gradient(90deg, #E043B4 0%, #7C52DF 25%, #5A57F4 50%, #495AF8 75%,  #3CFFE2 100%) border-box !important;
 }
 .over{
  overflow:hidden;
  }

  .logos-overflow {
    width: 100%;
    overflow: hidden;
    position: relative;
}
  /*marquee*/
.logos-overflow__logos-wrapper{
    display: flex;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
} 

